.message {
  display: flex;

  &__aside {
    flex-grow: 0;
  }

  &__main {
    flex-grow: 2;
  }

  &__avatar {
    width: 32px;
    height: 32px;
  }

  &__photo {
    max-width: 32px;
    max-height: 32px;
    border-radius: 3px;
  }
}
